# Add your Python dependencies here
fastapi
uvicorn[standard]
qdrant-client
sentence-transformers
openai
python-dotenv
requests
nltk
python-multipart
chonkie
python-docx
openpyxl
PyMuPDF
beautifulsoup4
pandas
python-pptx
unstructured
